@import "reset.css";
:root {
    --color1: #fff;
    --color2: #3cb878;
    --backGround:url("../image/rana-sawalha-364253-unsplash@1X.png");
}

body {
    font-family: Verdana, sans-serif;

}

.intro {
    background:var(--backGround);
    background-size: cover;
    height: 912px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.header-nav-menu {
    width: 100%;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-theme{
    background-color: rgba(35, 35, 35, .7);
    color: white;
    width: 150px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
}

.clickLight {
    background-color: #cecece;
    font-size: 17px;
    color: black;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    animation: clickLight linear .3s;
}

@keyframes clickLight {
    0% {background-color: #cecece}
    50% {background-color: #919191}
    100% { background-color: #cecece}
}


.theme-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 60px;
    left: 45.5%;
    width: 150px;
    height: 100px;
    background-color: rgba(35, 35, 35, .7);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    animation: height linear .5s;
}

@keyframes height {
    0% {height: 0}
    50% {height: 50px}
    100% {height: 100px}
}

.close {
    padding: 2px 4px;
    position: absolute;
    font-size: 13px;
    top: 5px;
    right: 5px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    animation: close linear .5s;

}

@keyframes close {
    0% {font-size: 1px}
    50% {font-size: 7px}
    100% {font-size: 13px}
}

.light {
    background-color: #cecece;
    font-size: 17px;
    color: black;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    animation: heightLight linear .5s;
}

@keyframes heightLight {
    0% {height: 0;  font-size: 1px;}
    50% {height: 15px;  font-size: 10px;}
    100% {height: 30px;  font-size: 17px;}
}

.light2 {
    background-color: #cecece;
    font-size: 17px;
    color: black;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
}

.black {
    background-color: #212121;
    font-size: 17px;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 10px;
    animation: heightBlack linear .5s;
}

@keyframes heightBlack {
    0% {height: 0;  font-size: 1px;}
    50% {height: 15px;  font-size: 10px;}
    100% {height: 30px;  font-size: 17px;}
}

.clickBlack {
    background-color: #212121;
    font-size: 17px;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 10px;
    animation: clickBlack linear .3s;
}

@keyframes clickBlack {
    0% {background-color: #212121}
    50% {background-color: #4c4c4c}
    100% { background-color: #212121}
}

.black2 {
    background-color: #212121;
    font-size: 17px;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 10px;

}

.text-journey {
    text-decoration: none;
    position: absolute;
    color: var(--color1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    top: 17px;
    left: 60px;
    transition: color;
}

.text-journey:hover {
    color: var(--color2);
    transition: 0.3s ease-in;
}

.top-navbar {
    position: absolute;
    color: var(--color1);
    font-size: 14px;
    top: 23px;
    right: 60px;
    border-left: 1px solid #33312f;
    padding-left: 24px;
}

.header-nav-sprites {
    position: absolute;
    top: 19px;
    right: 307px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../image/icon-sprite.png");
    transition: background-position;
}

.icon-calendar {
    background-position: 0 0;
}

.icon-calendar:hover {
    background-position: 0 23px;
    transition: 0.2s ease-in;
}

.icon-message {
    width: 28px;
    height: 21px;
    background-position: 50px 1px;
    margin-left: 28px;
}

.icon-message:hover {
    width: 28px;
    height: 21px;
    background-position: 50px 24px;
    transition: 0.2s ease-in;
}

.icon-compass {
    width: 20px;
    height: 20px;
    background-position: 21px 0;
    margin-left: 28px;
}

.icon-compass:hover {
    width: 20px;
    height: 20px;
    background-position: 21px 23px;
    transition: 0.2s ease-in;
}

.top-navbar-log-in, .top-navbar-log-in {
    text-decoration: none;
    color: var(--color2);
}

.top-navbar-log-in:hover, .top-navbar-log-in:hover {
    text-decoration: underline;
}

.main-content {
    width: 100%;
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.main-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-content-wrapper {
    width: 330px;
    height: 524px;
}

.sign-log-wrapper {
    display: flex;
    justify-content: space-between;
}

.square {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: var(--color2);
    position: absolute;
    top: 31px;
    left: 0;
}

.main-form-wrapper {
    width: 444px;
    height: 584px;
    background-color: var(--color1);
    border-radius: 5px;
}

.facebook-google-navigation {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.sign-up-text {
    font-size: 20px;
}

.log-in-text {
    font-size: 14px;
    line-height: 22px;
    color: var(--color2);
    text-decoration: none;
}

.log-in-text:hover {
    text-decoration: underline;
}

.facebook-navigation {
    width: 157px;
    height: 46px;
    padding-left: 60px;
    color: var(--color1);
    border-radius: 5px;
    border: 0;
    background-color: #305db8;
    position: relative;
    letter-spacing: 1px;
}

.facebook-navigation::before {
    font-size: 20px;
    Font-family: FontAwesome;
    content: "\f09a";
    width: 50px;
    line-height: 29px;
    border-right: 1px solid #2b54a5;
    position: absolute;
    left: 0;
    top: 9px;
    transition: background-color;
}

.facebook-navigation:hover {
    background-color: #264b96;
    transition: 0.3s ease-in;
}

.google-navigation {
    width: 157px;
    height: 46px;
    padding-left: 65px;
    color: var(--color1);
    border-radius: 5px;
    border: 0;
    background-color: #df4a32;
    position: relative;
    letter-spacing: 1px;
}

.google-navigation::before {
    font-size: 20px;
    Font-family: FontAwesome;
    content: "\f0d5";
    width: 53px;
    line-height: 29px;
    border-right: 1px solid #c8422d;
    position: absolute;
    left: 3px;
    top: 9px;
    transition: background-color;
}

.google-navigation:hover {
    background-color: #c3412c;
    transition: 0.3s ease-in;
}

.space-between-forms {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    color: #848484;
}

.space-between-forms:before {
    content: '';
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    margin-right: 18px;
    margin-top: 9px;
}

.space-between-forms:after {
    content: '';
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    margin-left: 18px;
    margin-top: 9px;
}

.main-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form {
    height: 44px;
    width: 305px;
    padding-left: 17px;
    border: 1px solid #eaeaea;
    margin-bottom: 9px;
    background-color: var(--color1);
}

.sign-up-form::placeholder {
    color: #c7c7c7;
    font-size: 14px;
}

.sign-up-form:focus {
    box-shadow: 0 3px 2px 1px #d6d6d6;
}

.checkbox-button-wrapper {
    font-size: 14px;
    display: flex;
    width: 241px;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 15px;
    margin-left: 3px;
}

#checkbox{
    display: none;
}

#checkbox + label{
    display: block;
    width: 15px;
    height: 15px;
    background: var(--color1);
    border: 1px solid #eaeaea;
    text-align: center;
}
#checkbox + label:before{
    content: '';
    font-size: 12px;
}
#checkbox:checked + label{
    border: 1px solid green;
}
#checkbox:checked + label:before{
    content: '\2714';
    color: green;
}

.link-term-conditions {
    text-decoration: none;
    color: var(--color2);
}

.link-term-conditions:hover {
    text-decoration: underline;
}

.create-account-button {
    height: 44px;
    width: 322px;
    margin-left: 3px;
    font-size: 16px;
    color: var(--color1);
    background-color: var(--color2);
    transition: background-color;
}

.create-account-button:hover {
    background-color: #329a65;
    transition: 0.3s ease-in;
}
